

.header{
    width: 100%;
   
    display: flex;
    background-color: black;
    color: white;
   
    justify-content: space-between;

}  
.item span{
    width: 100%;
   
    padding-right: 40px;

}
.bi{
    font-size: 20px;
}