.container{
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
}
.item{
    width: 100%;
    display: flex;
    padding: 10px; 
    justify-content: space-between;
}
.cont{
    justify-content: center;
    display: flex;

    
    
}
.item1{
    width: 500px;
    background-color: green;
    color: black;
       
}
.item2{
    width: 300px;
    background-color: red;
    color: white;
}
p{
    justify-content: center;
}