.box-px{
    width: 200px;
    height: 100px;
    border: 2px solid black;
}
.parent-percent{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    padding: 10px;
    
}
.parent-percent>.child-percent{
    width: 50%;
    height: 200px;
    background-color: blanchedalmond;
  
}
.rem-paragraph{
    font-size: 2rem;
    
}
.parent-em{
    width: 300px;
    height: 200px;
    font-size: 16px;
    background-color: blue;
    padding: 10px;
}
.parent-em>.child-em{
    font-size: 1.5em;
    background-color: aqua;
}
.box-vw{
    width: 50vw;
    height:100px;
    background-color: beige;
}
.box-vh{
    height: 25vh;
    background-color:saddlebrown;
}
.square-vmin{
    width: 20vmin;
    height: 20vmin;
    background-color: firebrick;
}
.square-vmax{
    width: 20vmax;
    height: 20vmax;
    background-color: cornflowerblue;
}
.parent-relative{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: darkblue;
}
.parent-relative>.child-absolute{
    width: 100px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: aliceblue;
}
.parent-font{
    font-size: 20px;
    background-color: aliceblue;
}
.parent-font>.child-font{
    font-size: inherit;
    background-color: aqua;
}